@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
  margin: 0;
}

.label {
  font-family: 'Monoton', cursive;
}


/* If the screen size is 601px or more, set label to display none */
@media only screen and (min-width: 601px) {
  .logo {
    display: block
  }
  .label {
    display: none;
    font-family: 'Monoton', cursive;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .logo {
    display: block;
  }
  .label {
    display: none
  }
}

